################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/Project-akhir-PBO/bin/Debug/*
*/Project-akhir-PBO/obj/Debug/*
